<div class="modal fade" id="bluecampaign" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Anti-Human Trafficking e-Learning Courseware</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe>
        </div>
        <div class="item-desc px-4 pt-4">
          <table class="table">
            <tr>
              <td>
                <h1 class="h3">The Brief</h1>
              </td>
              <td>
                <p>Simply put, human trafficking is modern-day slavery. Every year, men, women, and children are trafficked
                  in every part of the world, including here in the United States. Congress has tasked federal agencies,
                  like the Department of Homeland Security, to work with private-sector partnerships to end human trafficking.
                  As a part of this effort, our team collaborated with DHS' Blue Campaign to build a highly-interactive digital
                  awareness and education campaign for DHS employees and members of the public.
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="h3">Objective</h1>
              </td>
              <td>
                <p>Given a huge government workforce with generally low expectations for online learning, encourage trafficking
                  awareness and elicit appropriate responses from DHS employees and private partners when the.</p>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="h3">My Role</h1>
              </td>
              <td>
                <p>
                  <strong>Lead Designer + Project Manager</strong> <br> As lead designer on the project, I worked to ensure that the program
                  was meeting the Blue Campaign's stated objectives. In this role, I met weekly with our Blue Campaign clients,
                  pitching design concepts, providing status updates, and answering any technical questions that arose. Internally,
                  I managed the 4-person design/production team on a daily basis, collaborating with visual designers, video
                  editors, and instructional designers.
                </p>

              </td>
            </tr>
            <tr>
              <td>
                <h1 class="h3">Tools</h1>
              </td>
              <td>
                <ul>
                  <li>Articulate Storyline 2</li>
                  <li>Adobe Premiere</li>
                  <li>Adobe Illustrator/Photoshop</li>
                  <li>WordPress</li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>
                <h1 class="h3">Result</h1>
              </td>
              <td>
                <p>Given the high visiblity of the project and the critical importance of the mission, we designed the courseware
                  to break the
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>