<div class="row mb-0">
    <div class="col-12 col-lg-6 mx-auto">
        <p>We have reserved several rooms at two local hotels, located directly next door to one another. The rooms are reserved
            under <strong>Lia Poeder</strong>, with free shuttle service to and from the reception. The hotels are about a 15-20 minute drive
            from the venue. Shuttles depart from the hotel at 3:30pm</p>
            <p>Bushwick forage quinoa chillwave pour-over blue bottle. Kogi literally pug tumeric deep v, small batch asymmetrical snackwave. Tote bag squid mlkshk sriracha, thundercats ramps tumeric bicycle rights fam tousled kombucha distillery. Drinking vinegar enamel pin try-hard everyday carry.</p>
    </div>
        <div class="card col-7 col-lg-3 mx-auto hotel">
            <img class="card-img-top" src="assets/images/fairfield_logo.jpg" alt="Card image cap">
            <div class="card-body text-center text-md-left">
                <h5 class="card-title">Fairfield Inn & Suites</h5>
                <h5 class="card-title">5220 Westview Dr,<br>Frederick, MD, 21703</h5>
                <p class="card-text">$114 / night</p>
                <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Poeder%20Brunn%20Wedding%5EWASFR%60pdwpdwa%7Cpdwpdwb%60114.00%60USD%60false%604%609/1/18%609/3/18%608/3/18&app=resvlink&stop_mobi=yes"
                    class="btn btn-primary" target="_blank">Book a Room</a>
            </div>
        </div>
        <div class="card col-7 col-lg-3 mx-auto order-md-3 hotel">
            <img class="card-img-top" src="assets/images/Logo_Hampton_Inn-01.png" alt="Card image cap">
            <div class="card-body text-center text-md-left">
                <h5 class="card-title">Hampton Inn Frederick</h5>
                <h5 class="card-title">5311 Buckeystown Pike,<br>Frederick, MD, 21704</h5>
                <p class="card-text">$109 / night</p>
                <a href="http://group.hamptoninn.com/PoederBrunnWedding" class="btn btn-primary" target="_blank">Book a Room</a>
            </div>
        </div>
</div>