<div class="row mb-0">
    <div class="card col-7 col-lg-3 mx-auto hotel">
        <img class="card-img-top" src="assets/images/fairfield_logo.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Fairfield Inn & Suites</h5>
            <h5 class="card-title">5220 Westview Dr,
                <br>Frederick, MD, 21703</h5>
            <p class="card-text">$114 / night</p>
            <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Poeder%20Brunn%20Wedding%5EWASFR%60pdwpdwa%7Cpdwpdwb%60114.00%60USD%60false%604%609/1/18%609/3/18%608/3/18&app=resvlink&stop_mobi=yes"
                class="btn btn-primary" target="_blank">Book a Room</a>
        </div>
    </div>
    <div class="col-12 col-lg-6 mx-auto">
            <p>We have reserved a block of rooms at two local hotels located right across the street from each other in Frederick,
                Maryland. Both blocks are reserved under
                <strong>Poeder Brunn Wedding</strong> for Saturday and Sunday nights. With it being a holiday weekend, it would be a
                good idea to book early to make sure you get a room in the block, but you technically have until 8/1 to book
                and get the group rate.</p>
            <p>The hotels are about 15 minutes away from the venue. There will be a shuttle to and from the hotels and wedding.
                Check back for more details on the day's timeline including shuttle times once receiving the formal invitation.</p>
        </div>
    <div class="card col-7 col-lg-3 mx-auto order-md-3 hotel">
        <img class="card-img-top" src="assets/images/Logo_Hampton_Inn-01.png" alt="Card image cap">
        <div class="card-body text-center">
            <h5 class="card-title">Hampton Inn Frederick</h5>
            <h5 class="card-title">5311 Buckeystown Pike,
                <br>Frederick, MD, 21704</h5>
            <p class="card-text">$109 / night</p>
            <a href="http://group.hamptoninn.com/PoederBrunnWedding" class="btn btn-primary" target="_blank">Book a Room</a>
        </div>
    </div>
</div>