<div class="row event-details text-center">
    <div class="col-12 col-md-4 timestamp-block">
        <h3 class="timestamp">4:30pm</h3>
        <p class="mb-0 ">Shuttle leaves from hotels to ceremony</p>
    </div>
    <div class="col-12 col-md-4 timestamp-block ">
        <h3 class="timestamp">5:30pm</h3>
        <p class="mb-0 ">Ceremony starts</p>
    </div>
    <div class="col-12 col-md-4 timestamp-block ">
        <h3 class="timestamp">6:00pm</h3>
        <p class="mb-0">Food, dancing and fun!</p>
    </div>
</div>


<!-- 
1) ceremony is 5:30
2) shuttle pick up from hotels is 4:30
3) hashtag is officially #brunnforyourlife
4) what do you think the best way is to get out the word that it sounds like they will be strict about showing id for alcohol? Do you think that should go somewhere on the site or just word of mouth? -->