<header class="header">
    <div class="top-bar container-fluid">
        <div class="actions">
            <a class="btn d-none d-md-inline-block" href="mailto:jamie@cataniainteractive.com">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
            <a class="btn d-none d-md-inline-block" href="#">
                <i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
        </div>
        <!--//actions-->
        <ul class="social list-inline">
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jamiecatania/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/jamiecatania">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/jamiecatania">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <!--//social-->
    </div>
    <!--//top-bar-->

    <div class="intro">
        <div class="container text-center text-lg-left">
            <div class="row justify-content-between">
                <div class="profile-info col-12 col-lg-8 my-5">
                    <h1 class="name">Hi! I'm
                        <span class="d-block d-lg-inline" id="name">Jamie Catania.</span>
                    </h1>
                    <section class="cd-intro">
                        <h2 class="cd-headline rotate-1">
                            <span>I'm a</span>
                            <span class="cd-words-wrapper d-block d-lg-inline">
                                <b class="is-visible">Fullstack Designer.</b>
                                <b>Instructional Designer.</b>
                                <b>UX Designer.</b>
                                <b>Web Developer.</b>
                                <b>Lifelong Learner.</b>
                            </span>
                        </h2>
                    </section>
                    <!-- cd-intro -->
                    <div class="profile mt-4">
                        <h5>I create authentic, unique digital experiences that make users say
                            <em>"WOAH!"</em>
                        </h5>
                    </div>
                </div>
                <!--//profile-->
                <div class="headshot col-md-3 ml-3 d-none d-lg-block">
                    <img class="profile-image" src="assets/images/Catania_headshot_sq_bw.png" alt="My headshot!">
                </div>
            </div>
            <!--//container-->
        </div>
        <!--//intro-->

        <div class="contact-info">
            <div class="container text-center">
                <ul class="list-inline">
                    <li class="email list-inline-item">
                        <a href="mailto:jamie@cataniainteractive.com">
                            <i class="fa fa-envelope"></i>
                            jamie@cataniainteractive.com
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="tel: 2192422687">
                            <i class="fa fa-phone"></i>
                            219.242.2687
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank">
                            <i class="fa fa-map-marker"></i>
                            Baltimore, MD
                        </a>
                    </li>
                    <li class="website list-inline-item">
                        <a href="#" target="_blank">
                            <i class="fa fa-globe"></i>
                            cataniainteractive.com
                        </a>
                    </li>
                </ul>
            </div>
            <!--//container-->
        </div>
        <!--//contact-info-->

        <div class="page-nav-space-holder d-none d-md-block">
            <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
                <div class="container">
                    <ul id="page-nav" class="nav page-nav list-inline">
                        <li class="nav-item">
                            <a class="scrollto nav-link" href="#experiences-section">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="scrollto nav-link" href="#education-section">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="scrollto nav-link" href="#skills-section">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a class="scrollto nav-link" href="#testimonials-section">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="scrollto nav-link" href="#portfolio-section">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="scrollto nav-link" href="#contact-section">Contact</a>
                        </li>
                    </ul>
                    <!--//page-nav-->
                </div>
            </div>
            <!--//page-nav-wrapper-->
        </div>

</header>
<!--//header-->