<div class="row">
    <div class="col-12 col-md-4">
        <img class="w-100 linganore-photo" src="assets/images/linganore_shot.jpg" />
        <p>We will be getting married at <a href="http://www.linganorewines.com/" target="_blank">Linganore Winecellars</a> in Mount Airy, Maryland. The reception will follow right after at the same site. The closest airports to the venue are BWI and Dulles. They are each about an hour drive away.</p>
        <a href="https://www.google.com/maps/dir/?api=1&destination=Linganore%20Winecellars" class="btn mb-4 mb-md-0" target="_blank">Get Directions</a>
    </div>
    <div id="map" class="col-11 col-md-8 mx-auto"></div>
</div>