<div class="row mb-0">
    <p class="col-12 col-md-4 mb-md-0">Everything we put on the registries are things that we’ll love, but honestly, the most important gift you can bring us
        is having you and your dancing shoes at our celebration. We are pumped to spend our special day with you and feel
        very blessed to have you in our lives.</p>
    <div class="col-12 col-md-8 registry-list">
        <a class="registry-item" href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=545119919&eventType=Wedding&pwsurl="
            target="_blank">
            <img src="assets/images/bed_bath_and_beyond.png" alt="Bed, Bath and Beyond">
        </a>
        <a class="registry-item" href="https://www.amazon.com/wedding/share/LiaAndRick" target="_blank">
            <img src="assets/images/amazon_logo-01.png" alt="Amazon">
        </a>
    </div>
</div>