<section id="testimonials-section" class="testimonials-section section">
    <h2 class="section-title">Testimonials</h2>

    <div id="testimonials-carousel" class="testimonials-carousel carousel slide" data-interval="8000">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#testimonials-carousel" data-slide-to="1"></li>
            <li data-target="#testimonials-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item carousel-item active">
                <blockquote class="quote">
                    <i class="fa fa-quote-left"></i>
                    <p>He clearly thought about how users would be affected by the work we were doing, and how we could make
                        their experience of our product even better. That perspective was invaluable for us as a team, and
                        he really elevated the quality of work that we all did.</p>
                </blockquote>
                <div class="source">
                    <div class="name">John Oleksowicz</div>
                    <div class="position">Software Engineer, Granicus</div>
                </div>
                <!--//source-->

            </div>
            <!--//carousel-inner-->
        </div>
        <!--//testimonials-carousel-->

</section>
<!--//section-->