<section id="education-section" class="education-section section">
    <h2 class="section-title">Education</h2>
    <div class="row">
        <div class="item col-12 col-md-6">
            <div class="item-inner">
                <h3 class="degree">BS Informatics</h3>
                <div class="education-body">
                    Indiana University
                </div>
                <!--//education-body-->
                <div class="time">2005 - 2008</div>
                <div class="desc">
                    Studies focused on Human-Centered Design, UX/UI Design, basic coding and usability.
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item col-12 col-md-6">
            <div class="item-inner">
                <h3 class="degree">MS Instructional Systems Technology</h3>
                <div class="education-body">
                    Indiana University
                </div>
                <!--//education-body-->
                <div class="time">2008 - 2010</div>
                <div class="desc">
                    Studies included advanced human computer interaction, adult learning theory, media production, and serious game design.
                </div>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
    </div>
    <!--//row-->
</section>
<!--//section-->