<section id="contact-section" class="contact-section section">
    <h2 class="section-title">Get in Touch</h2>
    <div class="intro">
        <img class="profile-image" src="assets/images/Catania_headshot_sq_bw.png" alt="">
        <div class="dialog">
            <p>Have a project you're looking to get off the ground? Let's talk.</p>
            <p>
                <strong>I can help with the following:</strong>
            </p>
            <ul class="list-unstyled service-list">
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i> UX/UI design</li>
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Learning Experience/Instructional design</li>
                <li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i> Front-end development</li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i> Product strategy</li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i> Service design/Design thinking</li>
            </ul>
            <p>Drop me a line at
                <a href="mailto:jamie@cataniainteractive.com">Jamie@CataniaInteractive.com</a> or call me at
                <a href="tel:2192422687">219.242.2687</a>.
            </p>
            <ul class="social list-inline">
                    <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/jamiecatania/">
                                <i class="fa fa-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://twitter.com/jamiecatania">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/jamiecatania">
                                <i class="fa fa-github-alt" aria-hidden="true"></i>
                            </a>
                        </li>
            </ul>
            <!--//social-->
        </div>
        <!--//diaplog-->
    </div>
    <!--//intro-->

</section>
<!--//section-->