<section id="portfolio-section" class="portfolio-section section">
    <h2 class="section-title">Portfolio</h2>
    <!-- <ul id="filters" class="filters clearfix">
        <li class="type active" data-filter="*">All</li>
        <li class="type" data-filter=".elearning">e-learning</li>
        <li class="type" data-filter=".uxdesign">User Experience (UX) Design</li>
        <li class="type" data-filter=".webdev">Web Development</li>
    </ul> -->
    <!--//filters-->
    <div class="items-wrapper isotope row">
        <div class="item elearning col-lg-4 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/blue_campaign/human_trafficking_thumbnail.png" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">Human Trafficking Awareness Campaign</h3>
                </div>
                <!--//content-->
                <a class="link-mask" href="bluecampaign/"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item backend col-lg-4 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="d-block img-fluid" src="/assets/images/portfolio/hcd/hcd_vid3.png" alt="Second slide">
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">Human-Centered Design for Government</h3>
                </div>
                <!--//content-->
                <a class="link-mask" href="hcd/"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item backend frontend col-lg-4 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/dlcs/dlcs_thumbnail.png" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">Digital Leadership Challenge Simulation</h3>
                </div>
                <!--//content-->
                <a class="link-mask" href="dlcs/"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item frontend col-lg-4 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/gla/gla_homepage.png" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">GovLoop Academy & Learning Platform</h3>
                </div>
                <!--//content-->
                <a class="link-mask" href="gla/"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item frontend col-lg-4 col-6">
                <div class="item-inner">
                    <figure class="figure">
                        <img class="img-fluid" src="assets/images/portfolio/housing_insights/housing_insights_mapview.png" alt="" />
                    </figure>
                    <div class="content text-left">
                        <h3 class="sub-title">DC Housing Insights</h3>
                    </div>
                    <!--//content-->
                    <a class="link-mask" href="#"></a>
                </div>
                <!--//item-inner-->
            </div>
            <!--//item-->
    </div>
    <!--//item-wrapper-->

</section>
<!--//section-->