<section id="contact-section" class="contact-section section text-left">
    <h2 class="section-title">Get in Touch</h2>
        <div class="dialog">
            <p class="mb-3">Have a project you're looking to get off the ground? Let's talk.</p>
            <p>
                <strong>I can help with the following:</strong>
            </p>
            <ul class="list-unstyled service-list">
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i> UX/UI & Interactive Design</li>
                <li>
                    <i class="fa fa-check" aria-hidden="true"></i> Instructional Design & Development</li>
                <li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i> Front-End Web Development</li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i> Product Strategy</li>
                    <li>
                        <i class="fa fa-check" aria-hidden="true"></i> Service Design/Design Thinking</li>
            </ul>
            <div class="row">
                <div class="col-6">
                <p>Drop me a line at
                        <a href="mailto:jamie@cataniainteractive.com" target="_blank">Jamie@CataniaInteractive.com</a> <br> or call me at
                        <a href="tel:2192422687" target="_blank">219.242.2687</a>.
                    </p>
                    <ul class="social list-inline">
                            <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/in/jamiecatania/" target="_blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://twitter.com/jamiecatania" target="_blank">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="https://github.com/jamiecatania" target="_blank">
                                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                                    </a>
                                </li>
                    </ul>
            </div>
            </div>
            <!--//social-->
        </div>
        <!--//diaplog-->
    </div>
    <!--//intro-->

</section>
<!--//section-->