<div id="overview" class="overview slide">
    <div class="container d-flex align-items-center h-100">
        <div class="row">
            <div class="col-12 col-lg-6 p-2">
                <img src="assets/images/fullstack_overview.svg" class="fullstack-img" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left p-4">
                <p>While I've participated in the full product development lifecycle, my main focus lies in product strategy
                    and execution of design principles in digital products. I'm formally trained in UX design principles,
                    service design techniques, and adult learning theory. In recent years, I've focused on sharpening my
                    technical acumen, particularly in the front end role.</p>
            </div>
        </div>
        <!--//container-->
    </div>
    <!--//contact-info-->
</div>