<section id="skills-section" class="skills-section section text-center">
    <h2 class="section-title">Key Skills & Specialties</h2>
    <div class="top-skills d-flex flex-row flex-wrap justify-content-center">
        <!-- <div class="card-deck"> -->
        <div class="card item py-4 px-4 m-4">
            <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="100">
                        <span>Expert</span>
                    </div>
                </div>
                <h4 class="skill-name">Learning Experience Design</h4>
                <div class="level">10+ years</div>
                <div class="desc">
                    Over ten years of practical application of adult learning theory to the creation of effective, engaging learning experiences.
                </div>
                <div class="related-skills">
                    <span class="skill-tag">Storyline</span>
                    <span class="skill-tag">Captivate</span>
                    <span class="skill-tag">WordPress</span>
                    <span class="skill-tag">Javascript</span>
                    <span class="skill-tag">Illustrator</span>
                    <span class="skill-tag">Photoshop</span>
                    <span class="skill-tag">InDesign</span>
                    <span class="skill-tag">Camtasia</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="card item py-4 px-4 m-4">
                <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="90">
                        <span>Pro</span>
                    </div>
                </div>
                <h4 class="skill-name">Media Production</h4>
                <div class="level">8+ years</div>
                <div class="desc">
                    Experience managing cross-discipilinary creative teams through the production of over 60 hours of interactive web content
                    and microlearning videos.
                </div>
                <div class="related-skills">
                    <span class="skill-tag">Storyline</span>
                    <span class="skill-tag">Captivate</span>
                    <span class="skill-tag">Premiere</span>
                    <span class="skill-tag">After Effects</span>
                    <span class="skill-tag">Camtasia</span>
                    <span class="skill-tag">Animate CC</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="card item py-4 px-4 m-4">
                <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="85">
                        <span>Pro</span>
                    </div>
                </div>
                <h4 class="skill-name">Project Management</h4>
                <div class="level">7+ years</div>
                <div class="desc">
                    Over seven years of experience managing deliverables, communicating stakeholder expectations, and coordinating resources
                    across over twenty client-facing projects.
                </div>
                <div class="related-skills">
                    <span class="skill-tag">Agile</span>
                    <span class="skill-tag">Scrum</span>
                    <span class="skill-tag">JIRA</span>
                    <span class="skill-tag">Trello</span>
                    <span class="skill-tag">BaseCamp</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="card item py-4 px-4 m-4">
                <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="70">
                        <span>Rising</span>
                    </div>
                </div>
                <h4 class="skill-name">Web Development</h4>
                <div class="level">2 years</div>
                <div class="desc">
                    Engineered both client-side and server-side features for a modern, lightweight Learning Management System (LMS).
                </div>
                <div class="related-skills">
                    <span class="skill-tag">PHP</span>
                    <span class="skill-tag">WordPress</span>
                    <span class="skill-tag">Firebase</span>
                    <span class="skill-tag">HTML5</span>
                    <span class="skill-tag">CSS3</span>
                    <span class="skill-tag">SASS</span>
                    <span class="skill-tag">Bootstrap</span>
                    <span class="skill-tag">Javascript</span>
                    <span class="skill-tag">jQuery</span>
                    <span class="skill-tag">D3</span>
                    <span class="skill-tag">ReactJS</span>
                    <span class="skill-tag">Codeception</span>
                    <span class="skill-tag">MySQL</span>
                    <span class="skill-tag">xAPI</span>
                    <span class="skill-tag">SCORM</span>
                    <span class="skill-tag">Git</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//row-->
    </div>
    <!--//top-skills-->

</section>
<!--//skills-section-->