<section id="skills-section" class="skills-section section text-center">
    <h2 class="section-title">Key Skills & Specialties</h2>
    <div class="top-skills d-flex flex-row flex-wrap justify-content-center">
        <!-- <div class="card-deck"> -->
        <div class="card item py-4 px-4 mx-3 mb-4">
            <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="100">
                        <span>10+ years</span>
                    </div>
                </div>
                <h4 class="skill-name">Digital Product Design</h4>
                <div class="level">UX/UI & Instructional Design</div>
                <div class="desc">
                    Over ten years of practical application of UX principles and adult learning theory to the creation of effective, engaging
                    digital experiences.
                </div>
                <div class="related-skills">
                    <span class="skill-tag">Sketch</span>
                    <span class="skill-tag">Invision</span>
                    <span class="skill-tag">Figma</span>
                    <span class="skill-tag">Adobe XD</span>
                    <span class="skill-tag">Design Thinking</span>
                    <span class="skill-tag">Gamification</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="card item py-4 px-4 mx-3 mb-4">
            <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="100">
                        <span>10+ years</span>
                    </div>
                </div>
                <h4 class="skill-name">Media Production</h4>
                <div class="level">Interactive Web, Video & Print</div>
                <div class="desc">
                    Experience managing cross-discipilinary creative teams through the production of over 60 hours of interactive web content
                    and microlearning videos.
                </div>
                <div class="related-skills">
                    <span class="skill-tag">Articulate Storyline</span>
                    <span class="skill-tag">Captivate</span>
                    <span class="skill-tag">Illustrator</span>
                    <span class="skill-tag">Photoshop</span>
                    <span class="skill-tag">InDesign</span>
                    <span class="skill-tag">Premiere</span>
                    <span class="skill-tag">After Effects</span>
                    <span class="skill-tag">Camtasia</span>
                    <span class="skill-tag">Animate CC</span>
                    <span class="skill-tag">Audition</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="card item py-4 px-4 mx-3 mb-4">
            <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="70">
                        <span>4+ years</span>
                    </div>
                </div>
                <h4 class="skill-name">Project Management</h4>
                <div class="level">Client, Budget & Resource Management</div>
                <div class="desc">
                    Firsthand experience owning deliverables, communicating stakeholder expectations, and coordinating resources
                    across more than twenty client-facing projects.
                </div>
                <div class="related-skills">
                    <span class="skill-tag">Agile</span>
                    <span class="skill-tag">Scrum</span>
                    <span class="skill-tag">JIRA</span>
                    <span class="skill-tag">Trello</span>
                    <span class="skill-tag">BaseCamp</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="card item py-4 px-4 mx-3 mb-4">
            <div class="item-inner">
                <div class="chart-easy-pie text-center">
                    <div class="chart-theme-1 chart" data-percent="40">
                        <span>1.5 years</span>
                    </div>
                </div>
                <h4 class="skill-name">Software Engineering</h4>
                <div class="level">Test-Driven Web Development</div>
                <div class="desc">
                    Engineered both client-side and server-side features for a WordPress-based Learning Management System (LMS).
                </div>
                <div class="related-skills">
                    <span class="skill-tag">HTML5</span>
                    <span class="skill-tag">CSS3</span>
                    <span class="skill-tag">LESS/SASS/SCSS</span>
                    <span class="skill-tag">Bootstrap</span>
                    <span class="skill-tag">Javascript</span>
                    <span class="skill-tag">jQuery</span>
                    <span class="skill-tag">Jekyll</span>
                    <span class="skill-tag">Grunt</span>
                    <span class="skill-tag">PHP</span>
                    <span class="skill-tag">WordPress</span>
                    <span class="skill-tag">Firebase</span>
                    <span class="skill-tag">D3</span>
                    <span class="skill-tag">ReactJS</span>
                    <span class="skill-tag">Codeception</span>
                    <span class="skill-tag">MySQL</span>
                    <span class="skill-tag">xAPI</span>
                    <span class="skill-tag">SCORM</span>
                    <span class="skill-tag">Git</span>
                </div>
                <!--//other-skills-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//row-->
    </div>
    <!--//top-skills-->

</section>
<!--//skills-section-->