<section id="experiences-section" class="experiences-section section">
        <h2 class="section-title">Work Experiences</h2>
        <div class="timeline">
            <div class="item">
                <div class="work-place">
                    <h3 class="place">Granicus (formerly GovDelivery)</h3>
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Washington, DC</div>
                </div>
                <div class="job-meta">
                    <div class="title">Software Engineer</div>
                    <div class="time">Oct 2016 - Oct 2017</div>
                </div>
                <!--//job-meta-->
                <div class="job-desc">
                    <p>I worked on development of GovDelivery's Learning Platform, a WordPress-based xAPI platform for delivering,
                        tracking and reporting on learning experiences for citizens and Federal, state and local government
                        employees alike.</p>
                    <a data-toggle="collapse" href="#granicus-desc" aria-expanded="false" aria-controls="collapseExample">
                        <strong>Read more
                            <i class="fa fa-plus-square" aria-hiden="true"></i>
                        </strong>
                    </a>
                    <div class="collapse" id="granicus-desc">
                        <div class="card card-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <strong>Feature Development</strong>
                                    </td>
                                    <td>
                                        <p>Engineered new custom features, including detailed administrator reporting dashboards,
                                            508-compliance for a variety of media types, and course progression UX/UI.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Product/UX Design</strong>
                                    </td>
                                    <td>
                                        <p>Conducted ongoing user experience (UX) research and design tasks, including journey
                                            mapping, user flow diagramming, rapid ideation and prototyping, and end user
                                            testing.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Agile/Scrum</strong>
                                    </td>
                                    <td>
                                        <p>Facilitated team-based Agile scrum ceremonies, including daily stand-ups, retrospective
                                            ceremonies, design-thinking brainstorming sessions and sprint product demos.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Automated Testing</strong>
                                    </td>
                                    <td>
                                        <p>Researched and implemented an automated regression testing approach using Codeception
                                            and Behat.</p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--//job-desc-->
            </div>
            <!--//item-->

            <div class="item">
                <div class="work-place">
                    <h3 class="place">GovDelivery/GovLoop</h3>
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Washington, DC</div>
                </div>
                <div class="job-meta">
                    <div class="title">Learning Strategist</div>
                    <div class="time">Nov 2014 - Oct 2016</div>
                </div>
                <!--//job-meta-->
                <div class="job-desc">
                    <p>As a proud member of the GovLoop Learning Team, I spent two years working to design dozens of hands-on,
                        micro-learning experiences for clients across the civic tech world and Federal, state and local
                        government, including:
                    </p>
                    <ul>
                        <li>Department of Homeland Security, Blue Campaign</li>
                        <li>Small Business Administration</li>
                        <li>New York City Department of Education, Innovation Zone (iZone)</li>
                        <li>National League of Cities</li>
                        <li>Knight Foundation</li>
                    </ul>
                    <p>In addition to our client services above, we also designed and launched
                        <a href="http://academy.govloop.com/">GovLoop Academy</a>, a brand new platform for thousands of government employees to gain new skills
                        and advance their careers. To support the new product, I designed five 30-minute on-demand courses
                        covering topics ranging from Digital Services Contracting to
                        <a href="https://academy.govloop.com/courses/the-human-centered-approach/">Human-Centered Design in Government</a>.</p>

                    <p>Our learning experience products were unique for two primary reasons: 1) We primarily hosted content
                        on our own, proprietary Learning Platform, which allowed us to tinker and hack cool new interactive
                        features into our courseware, and 2) we developed a robust, team-wide culture of focusing on
                        our learners' individual needs and challenging the status quo of online learning in government.
                    </p>
                    <div class="other-skills">
                        <div class="misc-skills">
                            <span class="skill-tag">Storyline</span>
                            <span class="skill-tag">Captivate</span>
                            <span class="skill-tag">WordPress</span>
                            <span class="skill-tag">Javascript</span>
                            <span class="skill-tag">Illustrator</span>
                            <span class="skill-tag">Photoshop</span>
                            <span class="skill-tag">InDesign</span>
                            <span class="skill-tag">Camtasia</span>
                        </div>
                    </div>
                    <!--//other-skills-->
                </div>
                <!--//job-desc-->
            </div>
            <!--//item-->

            <div class="item">
                <div class="work-place">
                    <h3 class="place">Booz Allen Hamilton</h3>
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Washington, DC</div>
                </div>
                <div class="job-meta">
                    <div class="title">Associate Instructional
                        <br>Systems Designer &
                        <br>Technologist</div>
                    <div class="time">Sep 2012 - Oct 2014</div>
                </div>
                <!--//job-meta-->
                <div class="job-desc">
                    <p>For over two years, I proudly worked with government organizations to build new capabilities and
                        increase workforce performance through design and development of learning programs and curricula.
                        The clients I supported include:</p>
                    <ul>
                        <li>Immigration and Customs Enforcement (ICE)</li>
                        <li>Veterans' Health Administration (VHA)</li>
                        <li>Department of Defense (DoD)</li>
                        <li>Department of Homeland Security (DHS)</li>
                        <li>Homeland Security Acquisition Institute (HSAI)</li>
                        <li>DHS Office of Intelligence and Analysis (I&A)</li>
                        <li>Drug Enforcement Administration (DEA)</li>
                    </ul>
                    <p>As an Instructional Systems Designer, my primary role was to analyze clients' learning goals, resources,
                        and available technology, and then deliver effective, efficient learning solutions. The resulting
                        courseware was designed according to industry-standard instructional principals and the latest
                        in adult learning theory.</p>
                    <p>In addition to the consulting work above, I also got my first taste of product development during
                        my time at Booz Allen. Through nearly my entire tenure at the firm, I supported a ‘passion project’
                        on top of my daily billable commitments: I led a small design team through the task of reimagining
                        a two-day tabletop leadership simulation as a mobile-friendly, multiplayer experience. In order
                        to support this ‘Digital Leadership Challenge Simulation’, I established and executed a detailed
                        User Experience (UX) design strategy and road map, incorporating feedback from senior project
                        leadership, UX designers, Unity-engine developers, and project managers. Together, we wireframed
                        user interface elements on data gathered via focus groups, interviews, and daylong play-test
                        sessions. Ultimately, we delivered and tested a fully-functional Minimally Viable Product, which
                        received high praise from client participants.
                    </p>
                </div>
                <!--//job-desc-->
            </div>
            <!--//item-->

            <div class="item">
                <div class="work-place">
                    <h3 class="place">Nokia (formerly Navteq)</h3>
                    <div class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>Chicago, IL</div>
                </div>
                <div class="job-meta">
                    <div class="title">Instructional Designer</div>
                    <div class="time">Jul 2010 - Aug 2012</div>
                </div>
                <!--//job-meta-->
                <div class="job-desc">
                    <p>Designed and developed mixed method (ILT, VCT, and WBT) training programs for globally-dispersed
                        engineers working with detailed software on complex mapping databases.  While analyzing learner
                        needs, collaborated with subject matter experts and technical trainers to ensure that training
                        materials and strategies follow strict data specification guidelines.  Researched, implemented,
                        and optimized several custom Instructional Design Systems (Action Mapping, ADDIE) to align Nokia’s
                        training strategy with its Agile development standards. Implemented a new learning management
                        system (LMS), Cornerstone OnDemand, which involved transferring all existing coursework, records,
                        and best practices from the previous LMS.  Administered and analyzed technical skill validation
                        quizzes, which resulted in an improved evaluation of training effectiveness.</p>
                </div>
                <!--//job-desc-->
            </div>
            <!--//item-->

        </div>
        <!--//timeline-->

    </section>
    <!--//section-->