<section id="portfolio-section" class="portfolio-section section">
        {% include portfolio-items/bluecampaign.html %}
        {% include portfolio-items/hcd.html %}
    <h2 class="section-title">Work Samples</h2>
    <ul id="filters" class="filters clearfix">
        <li class="type active" data-filter="*">All</li>
        <li class="type" data-filter=".elearning">e-learning</li>
        <li class="type" data-filter=".uxdesign">User Experience (UX) Design</li>
        <li class="type" data-filter=".webdev">Web Development</li>
    </ul>
    <!--//filters-->
    <div class="items-wrapper isotope row">
        <div class="item elearning col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-1.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Anti-Human Trafficking Training</a>
                    </h3>
                    <div class="action">
                        <a href="#">View Samples</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#" data-toggle="modal" data-target="#bluecampaign"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item backend col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-2.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Human-Centered Design for Government</a>
                    </h3>
                    <div class="meta">GovLoop Academy</div>
                    <div class="action">
                        <a href="#">View on GovLoop Academy</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#" data-toggle="modal" data-target="#hcd"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item backend frontend col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-3.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Project Lorem Ipsum</a>
                    </h3>
                    <div class="meta">Django/JavaScript</div>
                    <div class="action">
                        <a href="#">View on Github</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item frontend col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-4.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Project Lorem Ipsum</a>
                    </h3>
                    <div class="meta">ReactJS</div>
                    <div class="action">
                        <a href="#">View on Github</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item backend col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-5.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Project Lorem Ipsum</a>
                    </h3>
                    <div class="meta">Python</div>
                    <div class="action">
                        <a href="#">View on Github</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <div class="item backend col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-6.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Project Lorem Ipsum</a>
                    </h3>
                    <div class="meta">JavaScript</div>
                    <div class="action">
                        <a href="#">View on Github</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->

        <div class="item frontend col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-7.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Project Lorem Ipsum</a>
                    </h3>
                    <div class="meta">HTML/AngularJS</div>
                    <div class="action">
                        <a href="#">View on Github</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->

        <div class="item frontend backend col-lg-3 col-6">
            <div class="item-inner">
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/portfolio/portfolio-8.jpg" alt="" />
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title">
                        <a href="#">Project Lorem Ipsum</a>
                    </h3>
                    <div class="meta">Python/AngularJS</div>
                    <div class="action">
                        <a href="#">View on Github</a>
                    </div>
                </div>
                <!--//content-->
                <a class="link-mask" href="#"></a>
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->

    </div>
    <!--//item-wrapper-->

</section>
<!--//section-->