<div class="item">
        <div class="work-place">
            <h3 class="place">Nokia (formerly Navteq)</h3>
            <div class="location">
                <i class="fa fa-map-marker" aria-hidden="true"></i>Chicago, IL</div>
        </div>
        <div class="job-meta">
            <div class="title">Instructional Designer</div>
            <div class="time">Jul 2010 - Aug 2012</div>
        </div>
        <!--//job-meta-->
        <div class="job-desc">
            <p>Remember those GPS mapping cars that roamed the earth, with all of the cameras and fancy technology for data collection? At Nokia/Navteq, we had a fleet of vehicles and an army of engineers all over the world that needed to know how to use the latest tools available to them. 
              So rather than fly them around for training ($$$), we designed and delivered remote learning experiences that could be completed from the road, wherever they were.</p>

            <a data-toggle="collapse" class="collapsed" href="#nokia-desc" aria-expanded="false" aria-controls="collapseExample">
                <p class="more-info" >
                <i class="fa" aria-hidden="true"></i></p>
                <span class="sr-only">Expand/Collapse more info</span>
            </a>
            <div class="collapse" id="nokia-desc">
                <div class="card card-body">
                        <p>Designed and developed mixed method (ILT, VCT, and WBT) training programs for globally-dispersed engineers
                                working with detailed software on complex mapping databases.  While analyzing learner needs, collaborated
                                with subject matter experts and technical trainers to ensure that training materials and strategies follow
                                strict data specification guidelines.  Researched, implemented, and optimized several custom Instructional
                                Design Systems (Action Mapping, ADDIE) to align Nokia’s training strategy with its Agile development
                                standards. Implemented a new learning management system (LMS), Cornerstone OnDemand, which involved
                                transferring all existing coursework, records, and best practices from the previous LMS.  Administered
                                and analyzed technical skill validation quizzes, which resulted in an improved evaluation of training
                                effectiveness.</p>
                    <table class="table">
                        <tr>
                            <td>
                                <strong>Feature Development</strong>
                            </td>
                            <td>
                                <p>Engineered new custom features, including detailed administrator reporting dashboards,
                                    508-compliance for a variety of media types, and course progression UX/UI.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Product/UX Design</strong>
                            </td>
                            <td>
                                <p>Conducted ongoing user experience (UX) research and design tasks, including journey mapping,
                                    user flow diagramming, rapid ideation and prototyping, and end user testing.
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Agile/Scrum</strong>
                            </td>
                            <td>
                                <p>Facilitated team-based Agile scrum ceremonies, including daily stand-ups, retrospective
                                    ceremonies, design-thinking brainstorming sessions and sprint product demos.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Automated Testing</strong>
                            </td>
                            <td>
                                <p>Researched and implemented an automated regression testing approach using Codeception
                                    and Behat.</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!--//job-desc-->
    </div>
    <!--//item-->