<div class="contact-info">
    <div class="container text-center">
        <ul class="list-inline">
            <li class="email list-inline-item">
                <a href="mailto:jamie@cataniainteractive.com">
                    <i class="fa fa-envelope"></i>
                    jamie@cataniainteractive.com
                </a>
            </li>
            <li class="list-inline-item">
                <a href="tel: 2192422687">
                    <i class="fa fa-phone"></i>
                    219.242.2687
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#" target="_blank">
                    <i class="fa fa-map-marker"></i>
                    Baltimore, MD
                </a>
            </li>
            <li class="website list-inline-item">
                <a href="#" target="_blank">
                    <i class="fa fa-globe"></i>
                    CataniaInteractive.com
                </a>
            </li>
        </ul>
        <!--//container-->
    </div>
    <!--//contact-info-->
</div>