<div id="intro" class="intro full-frame">
    <div class="bg"></div>

    <div class="h-100">
        <!-- Start Row 1 -->
        <div id="intro-content" class="col-12 col-sm-8 mx-auto">

            <!-- Start Social Buttons -->
            <ul id="social-btns" class="social list-inline d-flex justify-content-around pt-3">
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/jamiecatania/">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/jamiecatania">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="https://github.com/jamiecatania">
                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="email list-inline-item align-middle phone">
                    <a href="mailto:jamie@cataniainteractive.com">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
                <li class="list-inline-item align-middle email">
                    <a href="tel: 2192422687">
                        <i class="fa fa-phone"></i>
                    </a>
                </li>
            </ul>
            <!-- /End Social Buttons -->

            <h3 id="my-name-is">My name is</h3>
            <h1 id="name" class="alternative-style">Jamie Catania.</h1>
            <h3 id="design-exp" class="mb-2">I design digital experiences.</h3>

            <div id="vid-wrapper" class="embed-responsive col-12 col-xl-10 mx-auto">
                <script src="https://fast.wistia.com/embed/medias/udh0ysuxt0.jsonp" async></script>
                <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <span class="wistia_embed wistia_async_udh0ysuxt0 popover=true popoverAnimateThumbnail=true videoFoam=true" style="display:inline-block;height:100%;width:100%">&nbsp;</span>
                    </div>
                </div>
            </div>

            <!-- <span id="rotating-titles" class="cd-intro">
                    <div class="cd-headline clip text-center d-inline mb-sm-3 text-nowrap">
                        <div id="title" class="cd-words-wrapper">
                            <b class="is-visible">easy-to-use</b>
                            <b>beautiful</b>
                            <b>authentic</b>
                            <b>effective</b>
                        </div>
                    </div>
                </span>
                <br>
                <h3 class="d-inline-block mb-2">digital experiences.</h3> -->

        </div>
        <!-- /End Row 1 -->

    </div>
    <!--//profile-->
    <a href="#" id="intro-down-btn" class="btn btn-primary btn-lg scroll-down d-xl-none" data-target="#portfolio-section" role="button">
        <span class="fa fa-chevron-down"></span>
    </a>
    {% include header/pagenav.html %}
</div>