<div class="intro slide">
    <div class="bg"></div>
    <div class="container h-100">
        <div class="row justify-content-center align-items-end">
            <div class="profile-image d-none d-lg-block col-4 align-self-center">
                <img class="headshot" src="assets/images/Catania_headshot_sq_bw.png" alt="My headshot!">
                <ul class="social list-inline d-none d-lg-inline d-lg-flex justify-content-center pt-3">
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/jamiecatania/">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/jamiecatania">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/jamiecatania">
                            <i class="fa fa-github-alt" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="email list-inline-item align-middle phone">
                        <a href="mailto:jamie@cataniainteractive.com">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                    <li class="list-inline-item align-middle email">
                        <a href="tel: 2192422687">
                            <i class="fa fa-phone"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="profile-info col-8 text-center text-lg-left">
                <h1 class="name">Hi! My name is
                    <span class="d-block" id="name">Jamie Catania.</span>
                </h1>
                <section class="cd-intro">
                    <h2 class="cd-headline clip">
                        <span>I'm a</span>
                        <span class="cd-words-wrapper">
                            <b class="is-visible">Fullstack Designer.</b>
                            <b>Instructional Designer.</b>
                            <b>UX Designer.</b>
                            <b>Web Developer.</b>
                            <b>Lifelong Learner.</b>
                        </span>
                    </h2>
                </section>
                <!-- cd-intro -->
                <div class="subline">
                    <h5>I create authentic, unique digital experiences that solve business problems.</h5>
                </div>
            </div>
            <!--//profile-->
        </div>
        <!--//container-->
    </div>
    <!--//intro-->
</div>