<div id="intro" class="intro">
    <div class="bg"></div>
    <!-- Start Social Buttons -->
    <ul id="social-btns" class="social list-inline d-flex justify-content-around pt-3 col-12 col-sm-6 mx-auto">
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/jamiecatania/" target="_blank">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/jamiecatania" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/jamiecatania" target="_blank">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
        </li>
        <li class="email list-inline-item align-middle phone">
            <a href="mailto:jamie@cataniainteractive.com" target="_blank">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li class="list-inline-item align-middle email">
            <a href="tel: 2192422687" target="_blank">
                <i class="fa fa-phone"></i>
            </a>
        </li>
    </ul>
    <!-- /End Social Buttons -->

    <!-- Start Row 1 -->
    <div id="intro-content" class="col-10 col-sm-6 mx-auto">
        <h3 id="my-name-is">My name is</h3>
        <h1 id="name" class="alternative-style d-inline-block">Jamie Catania.</h1>
        <h3 id="design-exp" class="d-inline-block">I design
            <span id="rotating-titles" class="cd-intro d-inline">
                <span class="cd-headline clip d-inline">
                    <span id="title" class="cd-words-wrapper">
                        <b class="is-visible">digital</b>
                        <b>data-driven</b>
                        <b>easy-to-use</b>
                        <b>effective</b>
                    </span>
                </span>
            </span>
            <br class="line-break d-block d-sm-none" /> experiences.
        </h3>
    </div>
    <!-- /End Row 1 -->
    <!--//profile-->
    <a href="#" id="intro-down-btn" class="btn btn-primary btn-lg scroll-down d-xl-none" data-target="#portfolio-section" role="button">
        <span class="fa fa-chevron-down"></span>
    </a>
    {% include header/pagenav.html %}
</div>