<div class="overview">
    <div class="container">
        <div class="row">
            <div class="col-10 col-lg-6 p-2">
                <img src="assets/images/fullstack_overview.svg" class="fullstack-img" />
            </div>
            <div class="col-12 col-lg-6 text-center text-lg-left p-4">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat et tellus ac laoreet. In et tempus
                    nulla, non dapibus mauris. Etiam sagittis ac justo eu viverra. Nullam ac mauris vitae quam tincidunt
                    mattis ac ut neque. In non tortor ut lorem vehicula dignissim. Integer ac porttitor erat. Duis vel euismod
                    nulla, nec efficitur massa. Vestibulum suscipit sem nibh, sit amet sodales ligula finibus nec.</p>
            </div>
        </div>
        <!--//container-->
    </div>
    <!--//contact-info-->
</div>