<div id="page-nav-wrapper" class="text-center d-none d-sm-block">
    <div class="container">
        <a href="#" id="nav-scroll-up-btn" class="btn btn-primary btn-lg scroll-up" data-target="#intro" role="button">
            <span class="fa fa-chevron-up"></span>
        </a>
        <ul id="page-nav" class="nav page-nav list-inline">
            <li class="nav-item">
                <a class="scrollto nav-link" href="#portfolio-section">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="scrollto nav-link" href="#experiences-section">Experience</a>
            </li>
            <li class="nav-item">
                <a class="scrollto nav-link" href="#skills-section">Skills</a>
            </li>
            <li class="nav-item">
                <a class="scrollto nav-link" href="#education-section">Education</a>
            </li>
            <li class="nav-item">
                <a class="scrollto nav-link" href="#contact-section">Contact</a>
            </li>
        </ul>
        <!--//container-->
    </div>
    <!--//page-nav-->
</div>
<!--//page-nav-wrapper-->