<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a id="nav-scroll-up-btn" class="navbar-brand scrollto" href="#intro">Jamie Catania</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul id="page-nav" class="navbar-nav page-nav">
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#portfolio-section">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#experiences-section">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#skills-section">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link disabled" href="#education-section">Education</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link disabled" href="#contact-section">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>