<div class="page-nav-space-holder d-none d-md-block">
    <div id="page-nav-wrapper" class="page-nav-wrapper text-center py-4">
        <div class="container">
            <ul id="page-nav" class="nav page-nav list-inline">
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#experiences-section">Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#education-section">Education</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#skills-section">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#testimonials-section">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#portfolio-section">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="scrollto nav-link" href="#contact-section">Contact</a>
                </li>
            </ul>
            <!--//container-->
        </div>
        <!--//page-nav-->
    </div>
    <!--//page-nav-wrapper-->
</div>