<div class="top-bar align-middle d-lg-none">
    <!--//actions-->
    <div class="container">
        <ul class="social d-flex justify-content-center ">
            <li class="list-inline-item  mx-2">
                <a href="tel: 2192422687">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item  mx-2">
                <a href="mailto:jamie@cataniainteractive.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a href="https://www.linkedin.com/in/jamiecatania/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <!--//social-->
    </div>
</div>
<!--//top-bar-->