<div class="top-bar container-fluid align-middle">
    <!--//actions-->
    <div class="container">
        <ul class="social d-flex justify-content-center d-lg-none">
            <li class="list-inline-item  mx-2">
                <a href="tel: 2192422687">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item  mx-2">
                <a href="mailto:jamie@cataniainteractive.com">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item mx-2">
                <a href="https://www.linkedin.com/in/jamiecatania/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
        <ul class="social list-inline d-none d-lg-inline  d-lg-flex justify-content-start">
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/jamiecatania/">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://twitter.com/jamiecatania">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/jamiecatania">
                    <i class="fa fa-github-alt" aria-hidden="true"></i>
                </a>
            </li>
            <li class="email list-inline-item align-middle phone">
                <a href="mailto:jamie@cataniainteractive.com">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
            <li class="list-inline-item align-middle email">
                <a href="tel: 2192422687">
                    <i class="fa fa-phone"></i>
                </a>
            </li>
        </ul>
        <!--//social-->
    </div>
</div>
<!--//top-bar-->