<div class="top-bar container-fluid">
    <div class="actions">
        <a class="btn d-none d-md-inline-block" href="mailto:jamie@cataniainteractive.com">
            <i class="fa fa-paper-plane" aria-hidden="true"></i> Hire Me</a>
        <a class="btn d-none d-md-inline-block" href="#">
            <i class="fa fa-download" aria-hidden="true"></i> Download My Resume</a>
    </div>
    <!--//actions-->
    <ul class="social list-inline">
        <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/jamiecatania/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://twitter.com/jamiecatania">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/jamiecatania">
                <i class="fa fa-github-alt" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
    <!--//social-->
</div>
<!--//top-bar-->