<div class="item">
    <div class="work-place">
        <h3 class="place">Banker's Life & Casualty</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Chicago, IL</div>
    </div>
    <div class="job-meta">
        <div class="title">E-Learning Consultant</div>
        <div class="time">May 2007 - May 2008</div>
    </div>
    <!--//job-meta-->
    <div class="job-desc">
        <p>The sales training team at Bankers is responsible for sales process and regulatory compliance education for its nationwide,
            3000+ member sales team. While with the team, I was primarily responsible for collaborating with the Learning Management
            System vendor on the design of a new, central training portal. In addition, I wrote and edited nearly 20 hours of online sales courseware that
            complied with federal and state-specific regulations.</p>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->