<div class="item">
    <div class="work-place">
        <h3 class="place">Booz Allen Hamilton</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Washington, DC</div>
    </div>
    <div class="job-meta">
        <div class="title">Associate - Instructional
            <br> Systems Designer</div>
        <div class="time">Sept 2012 - Oct 2014</div>
    </div>
    <!--//job-meta-->
    <div class="job-desc">
        <p>For over two years, I proudly worked with government organizations to analyze their learning goals, resources, and
            available technology, and then to deliver effective, efficient digital learning solutions. In addition, I also
            got my first taste of product development on the Digital Leadership Challenge Simulation (DLCS), a mobile game
            for executive leadership training.
            <a data-toggle="collapse" class="expandable collapsed ml-1" href="#boozallen-desc" aria-expanded="false" aria-controls="collapseExample">
                <span class="more-info">
                    <i class="fa" aria-hidden="true"></i>
                </span>
                <span class="sr-only">Expand/Collapse more info</span>
            </a>
        </p>
        <div class="collapse" id="boozallen-desc">
            <div class="card card-body">
                <table class="table">
                    <tr>
                        <td>
                            <strong>Clients Served</strong>
                        </td>
                        <td>
                            <div class="related-clients">
                                <span class="client-tag">Immigration and Customs Enforcement (ICE)</span>
                                <span class="client-tag">Veterans' Health Administration (VHA)</span>
                                <span class="client-tag">Dept. of Defense (DOD)</span>
                                <span class="client-tag">Dept. of Homeland Security (DHS)</span>
                                <span class="client-tag">Drug Enforcement Administration (DEA)</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Courseware Development</strong>
                        </td>
                        <td>
                            <p>Wrote and piloted over 60 hours of online and instructor-led training programs for large federal
                                government clients.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Section 508 Compliance</strong>
                        </td>
                        <td>
                            <p>Achieved DHS Section 508 compliance for one hour of Level III, highly interactive eLearning content.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Game Design</strong>
                        </td>
                        <td>
                            <p>Led a multidisciplinary design team responsible for reimagining a two-day tabletop leadership
                                simulation as a native mobile multiplayer experience using the Unity game engine.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>UX Design</strong>
                        </td>
                        <td>
                            <p>Established and executed a detailed UX-design strategy and product development plan, incorporating
                                feedback from senior project leadership, UX designers, Unity developers, and project managers.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>UI Design</strong>
                        </td>
                        <td>
                            <p>Wireframed user interface elements using Balsamiq and Photoshop, based on data gathered via focus
                                groups, interviews, and daylong user playtest sessions.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->