<div class="item">
    <div class="work-place">
        <h3 class="place">GovDelivery/GovLoop</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Washington, DC</div>
    </div>
    <div class="job-meta">
        <div class="title">Learning Strategist</div>
        <div class="time">Nov 2014 - Nov 2016</div>
    </div>
    <a data-toggle="collapse" class="expandable collapsed ml-1" href="#govdelivery-desc" aria-expanded="false" aria-controls="collapseExample">
        <span class="more-info">
            <i class="fa" aria-hidden="true"></i>
        </span>
        <span class="sr-only">Expand/Collapse more info</span>
    </a>
    <!--//job-meta-->
    <div class="job-desc">
        <div class="collapse" id="govdelivery-desc">
            <div class="card card-body">

                <p>As a proud member of the award-winning GovLoop Learning Team, I spent two years designing dozens of hands-on,
                    microlearning experiences for clients across the civic tech world and Federal, state and local government.
                    In addition to our client-facing services, we also designed and launched
                    <a href="http://academy.govloop.com/" target="_blank">GovLoop Academy</a>, a platform for thousands of government employees to gain new skills and advance
                    their careers.</p>
                <table class="table">
                    <tr>
                        <td>
                            <strong>Clients Served</strong>
                        </td>
                        <td>
                            <div class="related-clients">
                                <span class="client-tag">DHS Blue Campaign</span>
                                <span class="client-tag">Small Business Administration (SBA)</span>
                                <span class="client-tag">NYC Dept. of Education (iZone)</span>
                                <span class="client-tag">National League of Cities</span>
                                <span class="client-tag">Knight Foundation</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Courseware Development</strong>
                        </td>
                        <td>
                            <p>Designed five 30-minute on-demand courses for GovLoop Academy covering topics ranging from Digital
                                Services Contracting to
                                <a href="https://academy.govloop.com/courses/the-human-centered-approach/" target="_blank">Human-Centered Design in Government</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Internal Learning Initiatives</strong>
                        </td>
                        <td>
                            <p>Founded and led regular company-wide, internal learning groups, including the GovDelivery Learning
                                Community of Practice, GovLoop Book Club, and DC Code Club.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Process Definition</strong>
                        </td>
                        <td>
                            <p>Implemented an agile-based, cross-disciplinary approach to design and media production process
                                across several divisions within the company.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Project Management</strong>
                        </td>
                        <td>
                            <p>Interfaced directly with nearly a dozen clients across seven projects, including pitching
                                design concepts, delivering regular project status updates, facilitating strategy brainstorming
                                sessions, and final product delivery.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->