<div class="item">
    <div class="work-place">
        <h3 class="place">Granicus (formerly GovDelivery)</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Washington, DC</div>
    </div>
    <div class="job-meta">
        <div class="title">Software Engineer</div>
        <div class="time">Oct 2016 - Oct 2017</div>
    </div>
    <a data-toggle="collapse" class="expandable collapsed ml-1" href="#granicus-desc" aria-expanded="false" aria-controls="collapseExample">
        <span class="more-info">
            <i class="fa" aria-hidden="true"></i>
        </span>
        <span class="sr-only">Expand/Collapse more info</span>
    </a>
    <!--//job-meta-->
    <div class="job-desc">
        <div class="collapse" id="granicus-desc">
            <div class="card card-body">
                <p>I worked in a multi-hat role, as both a seasoned product designer and budding software engineer, on development
                    of GovDelivery's Learning Platform, a WordPress-based xAPI platform for delivering, tracking and reporting
                    on learning experiences for citizens and Federal, state and local government employees.
                </p>
                <table class="table">
                    <tr>
                        <td>
                            <strong>Feature Development</strong>
                        </td>
                        <td>
                            <p>Engineered new custom features, including detailed administrator reporting dashboards, 508-compliance
                                for a variety of media types, and course progression UX/UI.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Product/UX Design</strong>
                        </td>
                        <td>
                            <p>Conducted ongoing user experience (UX) research and design tasks, including journey mapping,
                                user flow diagramming, rapid ideation and prototyping, and end user testing.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Agile/Scrum</strong>
                        </td>
                        <td>
                            <p>Facilitated team-based Agile scrum ceremonies, including daily stand-ups, retrospective ceremonies,
                                design-thinking brainstorming sessions and sprint product demos.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Automated Testing</strong>
                        </td>
                        <td>
                            <p>Researched and implemented an automated regression testing approach using Codeception and Behat.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->