<div class="item">
    <div class="work-place">
        <h3 class="place">Information in Place, Inc.</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Bloomington, IN</div>
    </div>
    <div class="job-meta">
        <div class="title">Serious Game Designer<br>(Intern)</div>
        <div class="time">May 2008 - Sept 2008</div>
    </div>
    <!--//job-meta-->
    <div class="job-desc">
        <p>The IIPI team designs digital games with an objective other than pure entertainment in mind: deeply internalized
            learning. In my summer at IIPI, I helped to design game mechanics for
            <em>Astronaut: Moon, Mars and Beyond</em>, a massively multiplayer online game for promoting science, technology,
            engineering and mathematics.</p>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->