<div class="item">
    <div class="work-place">
        <h3 class="place">Information in Place, Inc.</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Bloomington, IN</div>
    </div>
    <div class="job-meta">
        <div class="title">Serious Game Designer
            <br>(Intern)</div>
        <div class="time">May 2008 - Sept 2008</div>
    </div>
    <a data-toggle="collapse" class="expandable collapsed ml-1" href="#iipi-desc" aria-expanded="false" aria-controls="collapseExample">
        <span class="more-info">
            <i class="fa" aria-hidden="true"></i>
        </span>
        <span class="sr-only">Expand/Collapse more info</span>
    </a>
    <!--//job-meta-->
    <div class="job-desc">
        <div class="collapse" id="iipi-desc">
            <div class="card card-body">
                <p>The IIPI team designs digital games with an objective other than pure entertainment in mind: deeply internalized
                    learning. In my summer at IIPI, I helped to design game mechanics for
                    <em>Astronaut: Moon, Mars and Beyond</em>, a massively multiplayer online game for promoting science, technology,
                    engineering and mathematics.</p>
            </div>
        </div>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->