<div class="item">
    <div class="work-place">
        <h3 class="place">Nokia (formerly Navteq)</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Chicago, IL</div>
    </div>
    <div class="job-meta">
        <div class="title">Instructional Designer</div>
        <div class="time">Jul 2010 - Aug 2012</div>
    </div>
    <a data-toggle="collapse" class="expandable collapsed ml-1" href="#nokia-desc" aria-expanded="false" aria-controls="collapseExample">
        <span class="more-info">
            <i class="fa" aria-hidden="true"></i>
        </span>
        <span class="sr-only">Expand/Collapse more info</span>
    </a>
    <!--//job-meta-->
    <div class="job-desc">
        <div class="collapse" id="nokia-desc">
            <div class="card card-body">
                <p>The Navteq division of Nokia was responsible for collection of geospatial data in nearly every country across
                    the world. As a member of the engineering training team, I designed dozens of small, interactive digital
                    training tools to disseminate information about new software and tools to the global data collection
                    team.
                </p>
                <table class="table">
                    <tr>
                        <td>
                            <strong>Interactive Courseware Design</strong>
                        </td>
                        <td>
                            <p>Designed and developed mixed method (ILT, VCT, and WBT) training programs for globally-dispersed
                                engineers working with detailed software on complex mapping databases.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>SME Collaboration</strong>
                        </td>
                        <td>
                            <p>Collaborated with subject matter experts (SME) and technical trainers to ensure that training materials
                                and strategies follow strict data specification guidelines.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Agile/Scrum</strong>
                        </td>
                        <td>
                            <p>Researched, implemented, and optimized several custom Instructional Design Systems (Action Mapping,
                                ADDIE) to align Nokia’s training strategy with its Agile development standards.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Data Migration</strong>
                        </td>
                        <td>
                            <p>Implemented a new learning management system (LMS), Cornerstone OnDemand, which involved transferring
                                all existing coursework, records, and best practices from the previous LMS.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->