.education-section {
    .item {
      margin-bottom: 45px;
    }
    .item-inner {
      padding: 0 30px;
    }
    .degree {
      font-size: 18px;
      color: $theme-color;
      margin-top: 0;
      margin-bottom: 0px;
    }
    .education-body {
      font-weight: 500;
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: 300;
    }
    .time {
      color: $text-grey;
      margin-bottom: 15px;
    }
    .desc {
      color: $text-color-secondary;
    }
}