.timeline {
    border-left: 3px solid $theme-color;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    position: relative;
    padding: 0 30px;
    margin-left: 280px;
    .item {
        position: relative;
        margin-bottom: 3rem;
        &:last-child {
            margin-bottom: 0;
        }
        &:before {
            content: "";
            position: absolute;
            left: -43px;
            top: 0;
            display: inline-block;
            width: 22px;
            height: 22px;
            @include border-radius(50%);
            background: $header-text-color-secondary;
            border: 3px solid $theme-color;
        }
        .work-place {
            position: relative;
        }
        .location {
            position: relative;
            color: $text-grey;
            margin-bottom: .5rem;
            .fa {
                margin-right: 5px;
            }
        }
        .place {
            margin-top: 0;
            margin-bottom: .25rem;
            font-size: 20px;
            font-weight: 300;
        }
        .job-meta {
            position: absolute;
            left: -280px;
            top: 0;
            .title {
                font-size: 18px;
                color: $theme-color;
            }
            .time {
                color: $text-grey;
            }
        }
        .job-desc {
            color: $text-color-secondary;
        }
        table {
            margin-bottom: 0;
        }
        .card {
            border: none;
            padding: 0;
            padding-top: .5rem;
            border-top: 1px solid #e9ecef;
        }
        td {
            border-top: none;
            border-bottom: 1px solid #e9ecef;
            p {
                margin-bottom: 0;
            }
        }
        tr td:first-child {
            text-align: right;
            padding-left: 0;
        }
    }
    .related-clients {
        .client-tag {
            @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.14));
            padding: 6px 6px;
            display: inline-block;
            margin: 3px;
            border: 1px solid $smoky-white;
            font-weight: 500;
            font-size: 12px;
        }
    }
    [data-toggle="collapse"] {
        color: $text-grey;
        display: inline;
        position: absolute;
        right: 0;
        top: 2px;
        @media (max-width: 992px) {
            display: block;
            position: relative;
        }
        &:hover {
            color: darken($text-color-secondary, 15%);
        }
        &.collapsed .more-info {
            &:before {
                // font-weight: bold;
                content: "Read more ";
            }
            i:before {
                content: "\f0d7";
                font-weight: bold;
            }
        }
        .more-info {
            &:before {
                content: "Read less "; // font-weight: bold;
            }
            i:before {
                content: "\f0d8";
                font-weight: bold;                
            }
        }
    }
}