.contact-section {

    // background-color: #000; /*Default bg, similar to the background's base color*/
    background-image: url("images/Catania_headshot_sq_bw.jpg");
    background-size: 40%;
    background-position: right bottom; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/

    .intro {
      position: relative;
      padding: 30px;
      color: $text-color-secondary;
      p {
        margin-bottom: .5rem;
      }
    }
  
    .service-list {
      margin-left: 30px;
      margin-bottom: 1rem;
      li {
        margin-bottom: .25rem;
      }
      .fa {
        color: $theme-color;
      }
    }
  
    .social {
      margin-bottom: 0;
      li {
        margin-right: 10px;
        &:last-child {
          margin-right: 0;
        }
      }
      a {
        display: inline-block;
        // text-align: center;
        font-size: 24px;
        color: $text-grey;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }