.contact-section {

    background-image: url("images/Catania_headshot_sq.png");
    background-size: 40%;
    background-position: right bottom; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    // padding-bottom: 1rem;
    padding: 45px 75px 1rem;

    .dialog {
      position: relative;
      color: $text-color-secondary;
      p {
        margin-bottom: .5rem;
      }
    }
  
    .service-list {
      margin-left: 30px;
      margin-bottom: 1rem;
      li {
        margin-bottom: .25rem;
      }
      .fa {
        color: $theme-color;
      }
    }
  
    .social {
      margin-bottom: 0;
      width: 100%;
      a {
        display: inline-block;
        font-size: 24px;
        color: $text-grey;
        &:hover {
          color: $theme-color;
        }
      }
    }

    #pdf-download {
      position: relative;
      font-size: 1.1rem;
      width: 100%;
      min-width: 212px;
      background: $text-grey;    
      text-decoration: none;          
      color: $smoky-white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      @include transition (all 0.2s ease-in-out);            
      &:hover {
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
              background: $theme-color;              
      }
      &:active {
        box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2), 0 5px 9px rgba(0, 0, 0, 0.22);
        background: $theme-color;    
      }
  }
}