.overview {
    background: $smoky-white;
    color: $text-color-secondary;
    position: relative;

    .process.nav {
        display: flex;
        justify-content: space-between;
        border-bottom: none;

        .nav-item {
            width: 17%;
            
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $text-color-secondary;

                &.nav-link:hover {
                    color: $text-color-secondary;
                }

                &.nav-link.active {
                    // color: $theme-color;
                    // background-color: $theme-color;
                }

                @media (min-width: 767px) {
                    .fa {
                        font-size: 3em;
                    }
                }
            }
        }
    }

    #tabContent {
        width: 100%;
        .tab-pane {
            width: 100%;
            max-width: 100%;
            padding: 1rem;
            background-color: #ffffff;
            border: 1px solid #ddd;
            border-radius: 5px;

            img {
                border-radius: 5px;              
            }

            .carousel-caption {
                background: black;
                border-radius: 5px;
            }

            .carousel-inner {
              
            }

            .carousel {
                width: 100%;
            }
        }
    }
}