.overview {
    background: darken($theme-color, 10%);
    color: $smoky-white;
    position: relative;
    .fullstack-img {
        width: 100%;
    }
    .scroll-to {
        cursor: pointer;
        position: relative;
        padding: 2px;
        top: 2rem;
        transform: translate(-50%, 0);
        left: 50%;
        @include transition (all 0.4s ease-in-out);
        background: #79BAA5;
        border: none;
        color: $smoky-white;
        text-align: center;
        display: inline-block;
        z-index: 30;
        width: 36px;
        height: 36px;
        @include border-radius(50%); // @include box-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
        &:hover {
            background: darken(#79BAA5, 10%);
        }
        &#intro-btn:active,
        &#intro-btn:focus {
            color: $smoky-white;
            background-color: darken(#79BAA5, 20%);
            border: none;
            @include box-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
        }
        .fa {
            font: normal normal normal 14px/1 FontAwesome;
            position: relative;
            top: 2px;
            font-size: 25px;
            font-weight: normal;
        }
    }

    .process.nav {
        display: flex;
        justify-content: space-between;
        border-bottom: none;

        .nav-item {
            width: 17%;
            
            a {
                display: flex;
                flex-direction: column;
                align-items: center;

                &.nav-link:hover {
                    color: $smoky-white;
                }

                &.nav-link.active {
                    color: $smoky-white;
                    background-color: $theme-color;
                }

                @media (min-width: 767px) {
                    .fa {
                        font-size: 3em;
                    }
                }
            }
        }
    }

    #myTabContent {
        position: absolute;
        left: 0;
        top: 30%;
    }
}