$baseline-height: 1.6rem;

.portfolio-item {
    padding-top: $baseline-height * 5;

    .sub-section {
        padding-top: $baseline-height;
    }
    .container {
        width: 70%;
        padding-top: $baseline-height;
        // padding-top: $baseline-height * 2;
        @include media-breakpoint-down(lg) {
            width: 90%;
        }
        @include media-breakpoint-down(md) {
            padding-top: 3.25rem;
        }
    }
    .content {
        margin: 0 auto;
        padding: 0;
        @include media-breakpoint-up(lg) {
            #write-up {
                margin: 0 12%;
            }
        }
    }
    #portfolio-images {
        height: 26rem;
        margin-bottom: 3.3rem;
        padding: 0;
    }
    h2 {
        width: 70%; // border-bottom: 10px solid linear-gradient(120deg, #5FABB0 0%, #A4D391 100%);
        text-decoration: none;
        background-image: linear-gradient(120deg, #4CA0B9 0%, #A5D491 100%);
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 100% .3rem;
        color: $text-color;
        line-height: 4.9rem;
        margin: 0 auto .7rem auto;
        
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
    h3 {
        width: 90%;
        margin: 0 auto 0.95rem;
        margin-bottom: 1rem;
        padding-top: 0.8rem;
        @include media-breakpoint-down(xs) {
            margin-bottom: 1rem;
        }
        @include media-breakpoint-down(sm) {
            margin-bottom: 1.25rem;
        }
        @include media-breakpoint-down(md) {
            width: 100%;
        }
        &.title {
            width: 90%;
            text-decoration: none;
            background-image: linear-gradient(120deg, #4CA0B9 0%, #A5D491 100%);
            background-position: bottom left;
            background-repeat: no-repeat;
            background-size: 100% .3rem;
        }
    }
    h4 {
        width: 90%;
        line-height: 1.6rem;
        margin: 0 auto 1.38rem;
        padding-top: 0.25rem;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
    h5 {
        width: 70%;
        line-height: 2.6rem;
        margin: 0 auto 0.7rem;
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
    ul {
        margin: 0 auto 1.2rem;
        line-height: 1.65rem;
        font-size: 1rem;
        list-style-type: circle;
        list-style-position: outside;
        &.checkboxes li {
            list-style-type: none;
            // width: 90%;
            margin: 0 auto;
            i {
                padding-right: 1rem;
            }
            p {
                margin-bottom: 1.2rem;
                color: $text-grey;
                @include transition(all 0.2s ease-in-out);

                &:before {
                    font-family: FontAwesome;
                    content: "\f096";
                    position: absolute;
                    left: 10px;
                    @include media-breakpoint-down(md) {
                        left: 0;
                    }
                 }
            }
            &:hover p {
                color: $text-color;
                &:before {
                    content: "\f046";
                    
                 }
            }
        }
    }
    p {
        width: 90%;
        margin: 0 auto 1.2rem;
        padding-top: 0.4rem;
        font-size: 1rem;;
        line-height: 1.65rem;
        @include media-breakpoint-down(md) {
            width: 100%;
            font-size: 14px;
        }
    }
    .questions {
        width: 90%;
        margin: 0 auto 0.8rem;
        @include media-breakpoint-down(md) {
            width: 100%;
            margin: 0 0 0.8rem;
        }
        .question {
            padding: 0;
            p {
                margin: 0;

                &.follow-up {
                    padding-top: 0.1rem;
                }
            }
            .count {
                    color: $teal;
                    float: left;
                    font-size: 6rem;
                    line-height: 60px;
                    padding-top: 4px;
                    padding-right: 0.85rem;
                    // padding-left: 3px;
            }
        }
    }
    .carousel.slide {
        // width: 90%;
        @include box-shadow(0 4px 12px rgba(0, 0, 0, .2));
        margin-bottom: 2.45rem;
        .carousel-indicators {
            bottom: -2rem;
        }
        .carousel-indicators li {
            background-color: rgba(0, 0, 0, .2);
            &.active {
                background-color: $teal;
            }
        }
        .slide-control {
            color: $teal;
            background-color: none;
            height: 100%;
            opacity: .6;
            font-size: 80px;
            left: -50px;
            padding: 0 10px;
            position: absolute;
            top: 0;
            &:hover {
                opacity: 1;
            }
            i {
                transform: translate(0, -50%);
                position: relative;
                top: 50%;
            }
        }
        .slide-control.right {
            left: auto;
            right: -50px;
        }

        .carousel-inner {
            height: 100%;
            .carousel-item {
                height: 100%;
            }
        }
    }
    .navbar {
        position: fixed;
        padding: 2px;
        left: 0;
        top: 0;
        background-image: $hashed-background;
        border: none;
        z-index: 30;
        width: 100%;
        height: 60px;
        @include box-shadow(0 4px 12px rgba(0, 0, 0, .2));
        @media (max-width: 700px) {
            padding: .25rem 0;
        }
        .content {
            margin: 0 auto;
            width: 40%;
            padding-top: .4rem;
            @include media-breakpoint-down(lg) {
                width: 80%;
            }
            @include media-breakpoint-down(md) {
                width: 70%;
            }
            .back {
                cursor: pointer;
                position: relative;
                text-align: left;
                font-size: 1.2rem;
                font-weight: normal;
                color: $text-color;
                &:hover {
                    color: darken($text-color, 100%);
                }
                .back-text {
                    font-family: Raleway, sans-serif;
                    font-weight: 600;
                }
            }
            .name-brand {
                position: relative;
                @include transition (all 0.4s ease-in-out);
                transform: translate(0, -50%);
                top: 50%;
                font-family: Raleway, sans-serif;
                color: $text-color;
                font-size: 24px;
                font-weight: 900;
                text-align: right;
                &:hover {
                    color: darken($text-color, 100%);
                }
            }
        }
    }
    .goals {
        width: 90%;
        margin: 0 auto 2.5rem;

        .links {
            padding-top: .5rem;
            margin-bottom: -.255rem;
        }

        .collapse.show {
            display: inline;
        }

        .list-group-item {
            border: none;
            display: inline;
            padding: 0 0.75rem;
            @include transition(all 0.1s ease-in-out);

            &:hover {
                background: none;
                color: $teal;
                font-weight: bold;
            }

            &.active {
                background: none;
                color: $teal;
                font-weight: bold;
                text-decoration: underline solid $text-grey;            }
        }

        .tabs {
            margin: 2rem auto 0;
            padding-top: 1.6rem;
            @include transition(height 0.2s east-out);
            h4 {
                line-height: 2.35rem;
            }

            .tab-content:before {
                content: " ";
                position: absolute;
                border-left:2px solid #666;
                border-top:2px solid #666;
                border-bottom:2px solid #666;
                padding:5px;
                top:-10px;
                bottom:-10px;
                left: -5px;
             }
             .tab-content:after
             {
                content: " ";
                position: absolute;
                border-right:2px solid #666;
                border-top:2px solid #666;
                border-bottom:2px solid #666;
                padding:5px;
                top:-10px;
                bottom:-10px;
                right: -5px;
             }
        }
    }
}