.testimonials-section {
    .testimonials-carousel {
      max-width: 800px;
      margin: 0 auto;
    }
    .item {
      padding-left: 60px;
      margin-bottom: 45px;
  
    }
    .quote {
      border-left: none;
      padding: 0;
      font-size: 22px;
      color: $text-color-secondary;
      font-weight: 300;
      position: relative;
    }
    .source {
      .name {
        font-size: 16px;
      }
      .position {
        color: $text-grey;
      }
    }
    .fa-quote-left {
      position: absolute;
      left: -60px;
      top: 0;
      width: 36px;
      height: 36px;
      display: inline-block;
      background: $theme-color;
      color: #fff;
      @include border-radius(50%);
      text-align: center;
      padding-top: 10px;
      font-size: 16px;
    }
    .carousel-indicators {
      bottom: 0;
      margin-bottom: 0;
  
      li {
        background-color: lighten($text-grey, 20%);
        border: none;
        width: 10px;
        height: 10px;
        margin: 0;
        margin-right: 8px;
        @include border-radius(50%);
        cursor: pointer;
        &.active {
          background-color: $theme-color;
          width: 10px;
          height: 10px;
          margin: 0;
          margin-right: 8px;
        }
      }
    }
  }