/* ======= Base ======= */

body {
    font-family: 'Raleway', sans-serif;
    color: $text-color;
    // background: #E6E9ED;
    // background-image: url('images/back-pattern.png');
    background-color: #E6E9ED;
    background-image: url("https://www.transparenttextures.com/patterns/textured-stripes.png");
    font-size: 16px;
    @include media-breakpoint-down(xs) {
        font-size: 14px;
    }
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;

    @include selection {
        color: #546A76;
        background: $yellow;
    }
}

p {
    margin-bottom: 1.6em;

    a,a:visited,a:active {
        color: $text-color-secondary;
          text-decoration: underline;
          &:hover {
            color: darken($text-color-secondary, 30%);
        }
      }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-feature-settings: "liga" off;
    color: $text-color-secondary;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 0;
    // margin-top: 1rem;
}

.h1,
h1 {
    font-size: 4.236em;
    font-family: 'Fredericka the Great', sans-serif;
    color: #343942;
    line-height: .75;
}

.section-title {
    // display: inline-block;
    vertical-align: bottom;
    position: relative;
    text-align: left;
    overflow: visible;
    @media (max-width: 700px) {
        font-size: 2.618rem;
    }
}

.h2,
h2 {
    font-family: 'Amatic SC', sans-serif;
    color: #826265;
    font-size: 3.2em;
}

.h3,
h3 {  
    font-size: 2.618em;
}

.h4,
h4 {
    font-size: 1.618em;
}

.h5,
h5 {
    font-size: 1em;
}

a,a:visited,a:active {
    color: $text-color-secondary;
      text-decoration: underline;
      @include transition (all 0.4s ease-in-out);
      
      &:hover {
        color: darken($text-color-secondary, 30%);
    }
}


.btn,
a.btn {
    background: darken($theme-color, 10%);
    border: none;
    color: #fff;
    padding: 8px 15px;
    @include border-radius(2px);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    @include transition(all 0.4s ease-in-out);
    &:hover, &:active {
        color: #fff;
        background: darken($theme-color, 5%);
        box-shadow: 0 4px 8px rgba(0, 0, 0, .2);        
    }
    &:focus {
        box-shadow: 0 4px 12px rgba(0, 0, 0, .2);
    }

}

.wrapper {
    padding-bottom: 60px;
    @include drop-shadow(0 4px 12px rgba(0, 0, 0, .2));
}

.section {
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.14));
    padding: 45px;
    background: #fff;
    margin-bottom: 6rem;
    @include border-radius(2px);
    // &:first-child {
    //     margin-top: 2rem;
    // }
    &:last-child {
        margin-bottom: 0;
    }
    @media (max-width: 700px) {
        padding: 15px;
    }
}

#topcontrol {
    @include transition (all 0.4s ease-in-out);
    background: #79BAA5;
    color: $smoky-white;
    text-align: center;
    display: inline-block;
    z-index: 30;
    width: 36px;
    height: 36px;
    @include border-radius(50%);
    @include box-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
    &:hover {
        background: darken(#79BAA5, 15%);
    }
    .fa {
        position: relative;
        top: 3px;
        font-size: 25px;
        font-weight: normal;
    }
}

.scroll-down {
    cursor: pointer;
    padding: 2px;
    @include transition (all 0.4s ease-in-out);
    border: none;
    color: $text-grey;
    text-align: center;
    z-index: 30;
    width: 36px;
    height: 36px;
}

#intro-down-btn {
    position: absolute;
    @include translate(-50%, 0); 
    left: 50%;
    bottom: 3%;
    opacity: 0;

    .fa {
        position: absolute;
        display: inline-block;
        @include translate(-50%, -50%);            
        left: 50%;
        top: 50%;
        font-family: FontAwesome;
        font-size: 25px;
        font-weight: normal;
        opacity: 1;
    }
}

.teal {
    color: $teal;
}
.purple {
    color: $purple;
}
.green {
    color: $green;
}
.text-grey {
    color: $text-color-secondary;
}

#map {
    border-radius: 5px;
    min-height: 200px;
}

.row {
    // margin-bottom: 4rem;
    @media (max-width: 1340px) {
        margin-bottom: 2rem;
    }
    @media (max-width: 700px) {
        margin-bottom: 2rem;        
    }
}

.hotel {
    padding-top: 1rem;    
    filter: grayscale(80%);
    width: 50%;
    @include transition(all .4s ease-in-out);

    &:hover {
        filter: grayscale(0%);
    }
}

.registry-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

    .registry-item {
        // width: 35%;
        flex-basis: 35%; 
        
        img {
            width: 100%;
            height: auto;
        }
        opacity: .3;
        @include transition(all .4s ease-in-out);
    
        &:hover {
            opacity: 1;
        }
    }
}
