/* ======= Base ======= */

body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    background: $smoky-white;
    font-size: 16px;
    @include media-breakpoint-down(xs) {
        font-size: 14px;
    }
    line-height: 1.45;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    position: relative;
}

p {
    margin-bottom: 1em;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-feature-settings: "liga" off;
    font-weight: 700;
    color: $text-color-secondary;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.h1,
h1 {
    font-size: 6.854em;
    font-weight: 900;
    &.alternative-style {
        text-align: center;
        color: $text-color;
        text-shadow: 0 4px 12px rgba(0, 0, 0, .2); 
        line-height: 0.9;
    }
}

.h2,
h2 {
    font-size: 4.236em;
    font-weight: 700;
}

.h3,
h3 {
    font-size: 2.618em;
}

.h4,
h4 {
    font-size: 1.618em;
}

.h5,
h5 {
    font-size: 1em;
}

a {
    color: $theme-color;
    @include transition (all 0.4s ease-in-out);
    &:hover {
        text-decoration: none;
        color: darken($theme-color, 15%);
    }
    &:focus {
        text-decoration: none;
    }
}

.btn,
a.btn {
    background: darken($theme-color, 10%);
    color: #fff;
    padding: 8px 15px;
    @include border-radius(2px);
    // @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.4));
    // text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    &:hover {
        color: #fff;
        background: darken($theme-color, 5%);
    }
}

.wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    @include drop-shadow(0 4px 12px rgba(0, 0, 0, .2));
}

.section {
    @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.14));
    padding: 45px;
    background: #fff;
    margin-bottom: 45px;
    @include border-radius(2px);
    &:last-child {
        margin-bottom: 0;
    }
}

.section-title {
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 24px;
    text-align: center;
}

#topcontrol {
    @include transition (all 0.4s ease-in-out);
    background: #79BAA5;
    color: $smoky-white;
    text-align: center;
    display: inline-block;
    z-index: 30;
    width: 36px;
    height: 36px;
    @include border-radius(50%);
    @include box-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
    &:hover {
        background: darken(#79BAA5, 15%);
    }
    .fa {
        position: relative;
        top: 3px;
        font-size: 25px;
        font-weight: normal;
    }
}

.scroll-up,
.scroll-down {
    cursor: pointer;
    padding: 2px;
    @include transition (all 0.4s ease-in-out);
    border: none;
    color: $text-grey;
    text-align: center;
    z-index: 30;
    width: 36px;
    height: 36px;
    // @include border-radius(50%);
    // @include box-shadow(0px 6px 10px rgba(0, 0, 0, 0.3));
    // @media (min-width: 1200px) {
    //     left: 3%;
    // }
    // &:hover {
    //     background: darken($text-color, 15%);
    // }

}

#intro-down-btn {
    display: none;    
    position: absolute;
    @include translate(-50%, 0);    
    left: 50%;
    bottom: 2%;
    background: none;
    color: $theme-color;
    opacity: .4;

    .fa {
        position: absolute;
        left: 18%;
        top: 15%;
        font-family: FontAwesome;
        font-size: 25px;
        font-weight: normal;
    }

    @include media-breakpoint-up(sm) {
        display: none !important;

        // @media screen and (max-width: 1200px) and (orientation: landscape) {
        //     display: inline-block !important;
        // }
    }

}

.full-frame {
    width: calc(100vw);
    height: calc(100vh);
    position: absolute;
}