.header {
    background-size: cover;
    position: relative;
    height: 100vh;
    margin-bottom: 6rem;
    .jumbotron {
        background-image: url('/assets/images/inner_harbor_extra-wide.jpg');
        background-size: cover;
        background-position: right;
        height: 100vh;
        right: 0;
        z-index: -100;
        @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.14));
        @include border-radius(0);
        
        @media (max-width: 1340px) {
            background-image: url('/assets/images/inner_harbor_rick_right.jpg');
        }
        @media (max-width: 700px) {
            background-image: url('/assets/images/inner_harbor_lia_left.jpg');
            background-position: left;
        }
        #header-text {
            position: absolute;           
            bottom: 15%;
            right: 838px;
            left: auto;
            width: 285px;
            height: auto;
            z-index: 10;
            @media (max-width: 1340px) {
                right: 420px;                
                left: auto;
            }
            @media (max-width: 700px) {
                @include translate(-50%, 0);
                bottom: 15%;
                left: 50%;
                right: auto;
                width: 200px;
            }
        }
        .blur {
            background-color: #ffffff;
            opacity: 0;
            position: absolute;
            height: 180px;
            bottom: 14%;
            left: 0;
            width: 100%;
            z-index: 1;
            @media (max-width: 701px) {
                opacity: .75;
            }
        }
    }
}