.header {

    #social-btns {
        position: relative;
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
        display: inline-block;
        margin-bottom: 0;
        a {
            color: $theme-color;
            display: inline-block;
            text-align: center;
            width: 3rem;
            height: 3rem;
            font-size: 1.5rem;
            opacity: 0.4;
            &:hover {
                opacity: .8;
            }
        }
        @media screen and (max-width: 800px) and (orientation: landscape) {
            display: none !important;
        }
    }
    .intro {
        background-size: cover;
        position: relative;
        height: 100vh;
        
        .bg {
            // background: linear-gradient(120deg, #4CA0B9 0%, #A5D491 100%);
            background-image: $hashed-background;
            // opacity: .6;
            position: absolute;
            z-index: -10;
            width: 100%;
            height: 100%;
        }
        // .headshot {
        //     background: url(images/Catania_headshot_sq_bw.png) bottom right no-repeat;
        //     position: absolute;
        //     z-index: -1;
        //     width: 100%;
        //     height: 100%;
        //     background-size: 30rem; // @include media-breakpoint-up(lg) {
        //     //     background-size: 35rem;
        //     // }
        //     @include media-breakpoint-up(xl) {
        //         background-size: 40rem;
        //     }
        //     -webkit-filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .3));
        //     filter: drop-shadow(0 3px 3px rgba(0, 0, 0, .3));
        // }
        #intro-content {
            position: relative;
            text-align: center;
            padding: 0;
            top: 10%;
            @include media-breakpoint-up(sm) {
                top: 20%;
            }
            @include media-breakpoint-down(md) {
                h1 {
                    font-size: 4.236rem;
                }
                h3 {
                    font-size: 1.618rem;
                }
            }
            #my-name-is {
                margin-top: 5%;
                margin-bottom: .4rem;  
                font-weight: 400;              
                @media screen and (min-width: 400px) {
                    margin-top: 10%;
                    @media screen and (orientation: landscape) {
                        margin-top: 0;
                        margin-bottom: .2rem;
                    }
                }
                @media screen and (max-width: 800px) and (orientation: landscape) {
                    padding-top: .5rem;
                }
                @media screen and (min-width: 957px) {
                    margin-top: 15%;
                }
                @media screen and (min-width: 1460px) {
                    margin-top: 5%;
                }
            }

            #name {
                margin-top: 0;
                margin-bottom: 1rem;
                padding-bottom: .25rem;

                text-decoration: none;
                background-image: linear-gradient(120deg, #4CA0B9 0%, #A5D491 100%);
                background-position: bottom left;
                background-repeat: no-repeat;
                background-size: 100% .3rem;

                // @media screen and media-breakpoint-up(sm) {
                //     margin-bottom: 1rem;
                // }
                @media screen and (orientation: landscape) {
                    margin-bottom: .4rem;
                }
            }

            #design-exp {
                margin-top: 0;
                margin-bottom: 1rem;
                font-weight: 400;
                // @media screen and (max-width: 700px) and (orientation: landscape) {
                //     display: none;
                // }
                @media all and (min-width: 400px) {
                    margin-top: 1.5rem;
                }
            }

            // #vid-wrapper{
            //     width: 100%;
            //     margin-top: 0;
            //     margin-bottom: 0;
            //     padding: 0;
            //     @include box-shadow(0 4px 12px rgba(0, 0, 0, .2));
            //     @include transition (all 0.4s ease-in-out); 

            //     &:hover { 
            //         @include box-shadow(0 8px 12px rgba(0, 0, 0, .2)); 
            //     } 

            //     @include media-breakpoint-up(sm) {
            //         @include border-radius(7px);
            //     }
                
            //     @include media-breakpoint-up(xl) {
            //         margin-top: 1rem;
            //         width: 60%;
            //     }
            //     @media screen and (max-width: 800px) and (orientation: landscape) {
            //         width: 70%;
            //     }
            //     @media screen and (max-width: 700px) and (orientation: landscape) {
            //         width: 90%;
            //     }
            //     @media screen and (max-width: 600px) and (orientation: landscape) {
            //         width: 55%;
            //     }
            // }

            #rotating-titles {
                .cd-headline.clip {
                    #title {
                        overflow: hidden;
                        display: inline-block;
                        position: relative;
                        vertical-align: bottom;
                        // bottom: -.6rem;
                        text-align: left;
                        font-weight: 300;
                        b {
                            display: inline-block;
                            position: absolute;
                            white-space: nowrap;
                            opacity: 0;
                            &.is-visible {
                                position: relative;
                                opacity: 1;
                            }
                        }
                        .no-js & b {
                            opacity: 0;
                            &.is-visible {
                                opacity: 1;
                            }
                        }

                        // &:after {
                        //     /* line */
                        //     content: '';
                        //     position: absolute;
                        //     bottom: 0;
                        //     right: 0;
                        //     width: 2px;
                        //     height: 100%;
                        //     background-color: $teal;
                        //     opacity: 0.6;
                        // }
                    }
                }              
            }
        }
    }
}