/* Page Nav */

#page-nav-wrapper {
    background: darken($theme-color, 15%);
    position: absolute;
    width: 100%;
    left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include box-shadow(0 4px 12px rgba(0, 0, 0, .2));
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        background: $theme-color;
        @media (max-width: 700px) {
            padding: .25rem 0;
        }
    }
    .container {
        @media (max-width: 700px) {
            max-width: 80%;
            margin-left: 17%;
        }
    }
    a {
        color: $smoky-white;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
    }
    .page-nav {
        margin: 0 auto;
        display: inline-block;
        li {
            margin-right: 30px;
            display: inline-block;
            background: none;
            &:hover,
            &:active {
                background: none;
            }
            a {
                color: $header-text-color-secondary;
                padding: inherit;
                &:hover {
                    color: darken($header-text-color-secondary, 30%);
                }
                &:hover,
                &:active,
                &:focus {
                    background: none;
                }
                &.active {
                    color: $smoky-white;
                    background: none;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}