/* Page Nav */

.navbar {
    padding: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 4.224rem;
    @include box-shadow(0 4px 4px rgba(0, 0, 0, .2));

    .container {
        padding-right: 15px;
        padding-left: 15px;
        height: 100%;
        @media (min-width: 576px) {
            max-width: 540px;
        }
        @media (min-width: 768px) {
            max-width: 720px;
        }
        @media (min-width: 992px) {
            max-width: 960px;
        }
        @media (min-width: 1200px) {
            max-width: 1140px;
        }

        button {
            display: none;
        }

        .navbar-collapse {
            @include media-breakpoint-down(lg) {
                position: absolute;
                left: 0;
                top: 4.224rem;
                @include box-shadow(0 4px 4px rgba(0, 0, 0, .2));
                background-image: url("images/swirl.png"), linear-gradient(90deg, #5FABB0 0%, #A4D391 100%);
                width: 100%;                
                ul {
                    margin: 0 auto;
                    text-align: right;
                }
            }
        }

        #nav-scroll-up-btn {
            position: absolute;
            visibility: hidden;
            opacity: 0;
            @include transform(translate(75px, 0));
            @include transition(visibility 0s, opacity 0.2s 0.2s ease-in, transform 0.2s 0.2s ease-in, color 0.2s ease-in-out);
            font-family: Raleway, sans-serif;
            font-weight: 900;
            font-size: 1.5rem;
            color: $text-color;
        }
        #page-nav {
            width: 100%;
            position: relative;
            right: 0;
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            @include transition(width 0.2s ease-in);
            li {
                display: inline-block;

                a,a:visited,a:hover,a:active{
                    font-family: Raleway, sans-serif;
                    font-weight: 600;
                    font-size: 1.2rem;
                    -webkit-backface-visibility:hidden;
                            backface-visibility:hidden;
                      position: relative;
                      transition:0.3s all ease;
                      text-decoration:none;
                      color: $text-color;
                  }
                  a:hover {
                    color: darken($text-color, 100%);                                        
                  }
                  a:before {
                    font-family: FontAwesome;
                    content: "\f0da";
                    position: absolute;
                    left: -.5em;
                    opacity: 0;
                    transition:0.3s opacity ease;
                    @include media-breakpoint-down(lg) {
                        position: relative;
                    }
                  }
                  a.active:before {
                    opacity: 1;
                  }
                  a:after{
                    content: "";
                    transition:0.3s all ease-in-out;
                    -webkit-backface-visibility:hidden;
                            backface-visibility:hidden;
                    position: absolute;
                    bottom: .5rem;
                    left: 50%;
                    -webkit-transform:translateX(-50%);
                            transform:translateX(-50%);
                    height:0.12rem;
                    width:0;
                    background: linear-gradient(
                        to right,
                        rgba(164,211,145,0),
                        $green 15%,
                        $teal 85%,
                        rgba(95,171,176,0)
                      ); 
                  }
                  a.active {
                      color: darken($text-color, 100%);  
                  }
                  a:hover:after{
                    width:100%;
                  }
            }
        }
    }

    &.fixed {
        position: fixed;
        z-index: 100;
        @media (max-width: 700px) {
            padding: .25rem 0;
        }
        @include media-breakpoint-down(lg) {
            .navbar-toggler {
                display: inline-block;
                position: relative;
                margin-left: auto;
                margin-right: 0;
                border: none;
                padding: 0;
                background-color: $text-color;
                background: transparent !important;
                &:hover {
                    background: transparent !important;
                }
            }
            .icon-bar {
                width: 22px;
                transition: all 0.2s;
            }
            .top-bar {
                transform: rotate(45deg);
                transform-origin: 10% 10%;
            }
            .middle-bar {
                opacity: 0;
            }
            .bottom-bar {
                transform: rotate(-45deg);
                transform-origin: 10% 90%;
            }
            &.collapsed {
                .top-bar {
                    transform: rotate(0);
                }
                .middle-bar {
                    opacity: 1;
                }
                .bottom-bar {
                    transform: rotate(0);
                }
            }
        }
        #nav-scroll-up-btn {
            display: inline-block;
            visibility: visible;
            opacity: 1;
            text-decoration: none;
            @include transform(translate(0, 0));
            &:hover {
                color: darken($text-color, 100%);
            }
        }
        #page-nav {
            width: 70%;

            @include media-breakpoint-down(lg) {
                margin-right: 0;
                // width: 20%;
            }

            li a:hover:after {
                width: 0;
            }
        }
    }
}