/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) { 
    
    .header .social {
        margin: 0 auto;
        
        text-align: center;
    }
    
    .section {
        padding: 30px;
    }
    
    .section-title {
        font-size: 20px;
    }
    
    .education-section .item {
        padding: 0;
    }
    
    .portfolio-section .item-inner .content {
        padding: 15px;
    }
    
    .portfolio-section .item-inner .content .sub-title {
        font-size: 14px;
        // max-width: 120px;
    }
    
    .contact-section .intro {
        padding: 0;
        // text-align: center;
    }
    
    .contact-section .service-list {
        margin-left: 0;
    }
    
    // .contact-section .social {
    //     margin: 0 auto;
    // }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {


}

/* Up to Medium devices (tablets, up to 992px) */
@media (max-width: 992px) {
    .timeline {
        margin-left: 0;
        padding-right: 0;
    }
    
    .timeline .place {
        margin-bottom: 5px;
    }
    
    .timeline .item .job-meta {
        position: static;
        margin-bottom: .5rem;
    }

    .timeline .item .location {
        display: none;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
        
}

/* X-Large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}



