//Primary Palette
$theme-color: #546A76;
$purple: #54428e;
$teal: #4ca0b9;
$green: #a5d491;
$smoky-white: #f5f5f5;

//Secondary colors
$text-color: #444;
$text-color-secondary: #666;
$header-text-color-secondary: #C9F299;
$text-grey: #8a8a8a;
$divider: #e8e8e8;
$lighter-grey: #ccc;

$hashed-background: url('images/grid_noise.png');