//Primary Palette
$theme-color: #546A76;
$purple: #54428e;
$teal: #4ca0b9;
$smoky-white: #f5f5f5;

//Secondary colors
$text-color: #444;
$text-color-secondary: #666;
$header-text-color-secondary: #C9F299;
$text-grey: #8a8a8a;
$divider: #e8e8e8;
$lighter-grey: #ccc;

//Liaandrick.com colors
$blue: #546783;
$red: #3f2837;
$yellow: #e4e6c3;