<div class="item">
    <div class="work-place">
        <h3 class="place">GovDelivery/GovLoop</h3>
        <div class="location">
            <i class="fa fa-map-marker" aria-hidden="true"></i>Washington, DC</div>
    </div>
    <div class="job-meta">
        <div class="title">Learning Strategist</div>
        <div class="time">Nov 2014 - Nov 2016</div>
    </div>
    <!--//job-meta-->
    <div class="job-desc">
        <p>As a proud member of the GovLoop Learning Team, I spent two years working to design dozens of hands-on, micro-learning
            experiences for clients across the civic tech world and Federal, state and local government. In addition to our
            client-facing services, we also designed and launched
            <a href="http://academy.govloop.com/">GovLoop Academy</a>, a brand new platform for thousands of government employees to gain new skills and advance
            their careers.</p>
        <a data-toggle="collapse" class="collapsed" href="#govdelivery-desc" aria-expanded="false" aria-controls="collapseExample">
            <p class="more-info">
                <i class="fa" aria-hidden="true"></i>
            </p>
            <span class="sr-only">Expand/Collapse more info</span>
        </a>
        <div class="collapse" id="govdelivery-desc">
            <div class="card card-body">
                    <p>Clients included:</p>
                    <div class="related-clients">
                        <span class="client-tag">DHS Blue Campaign</span>
                        <span class="client-tag">Small Business Administration (SBA)</span>
                        <span class="client-tag">NYC Dept. of Education (iZone)</span>
                        <span class="client-tag">National League of Cities</span>
                        <span class="client-tag">Knight Foundation</span>
                    </div>
                <table class="table">
                    <tr>
                        <td>
                            <strong>Courseware Development</strong>
                        </td>
                        <td>
                            <p>Designed five 30-minute on-demand courses for GovLoop Academy covering topics ranging from Digital
                                    Services Contracting to
                                    <a href="https://academy.govloop.com/courses/the-human-centered-approach/">Human-Centered Design in Government</a>.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Company-Wide Learning Initiatives</strong>
                        </td>
                        <td>
                            <p>Founded and led regular company-wide learning groups, including the GovDelivery Learning Community of Practice, GovLoop Book Club and DC Code Club.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Process Definition</strong>
                        </td>
                        <td>
                            <p>Implemented an agile-based approach to instructional design and media production across several divisions within the company.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>Project Management</strong>
                        </td>
                        <td>
                            <p>Interfaced directly with nearly a dozen client POCs across seven projects, including regular project status updates, strategy brainstorming sessions, and final product delivery.</p>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--//job-desc-->
</div>
<!--//item-->