---
layout: default
title: home
---

<div class="home">
    {{ template }}
        {% include header.html %}
        {% include section-overview.html %}
        {% include header/pagenav.html %}                
    
        <div class="wrapper container">
            {% include section-experiences.html %}
            {% include section-education.html %}
            {% include section-skills.html %}
            {% include section-portfolio.html %}
            {% include section-getintouch.html %}
        </div>
</div> 
