---
layout: default
title: Lia And Rick
---
<div class="home">
        {% include header.html %}

        <div class="wrapper container">
                <h1 class="section-title text-center">THE BIG DAY</h1>
                <div id="event-details" class="section mt-0">
                        {% include event-details.html %}
                </div>
                <h1 class="section-title text-center">THE VENUE</h1>
                <div id="wedding-details" class="section mt-0">
                        {% include location.html %}
                </div>
                <h1 class="section-title text-center">WHERE TO STAY</h1>
                <div class="section mt-0">
                        {% include accomodations.html %}
                </div>
                <h1 class="section-title text-center d-none d-md-block">PHOTOS OF US</h1>
                <div id="photos" class="section mt-0 d-none d-md-block">
                        {% include photos.html %}
                </div>
                <h1 class="section-title text-center">REGISTRY</h1>
                <div class="section mt-0">
                        {% include registry.html %}
                </div>
                <h1 class="section-title text-center">RSVP</h1>
                <div class="section mt-0 col-12 col-lg-6 mx-auto">
                        {% include rsvp.html %}
                </div>
        </div>
        {% include footer.html %}
</div>